In [1]:
import pandas as pd

In [3]:
moives = pd.read_csv(r'D:\Data Science Daily Updates\MY CODES\PYTHON CODES\Data_Sheets\archive\movie.csv')

In [6]:
moives.shape

(27278, 3)

In [7]:
ratings = pd.read_csv(r"D:\Data Science Daily Updates\MY CODES\PYTHON CODES\Data_Sheets\archive\rating.csv")

In [8]:
ratings.shape

(20000263, 4)

In [9]:
tags = pd.read_csv(r"D:\Data Science Daily Updates\MY CODES\PYTHON CODES\Data_Sheets\archive\tag.csv")

In [10]:
tags.shape

(465564, 4)

In [11]:
moives.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [12]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [13]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [18]:
moives.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
del ratings['timestamp']
del tags['timestamp']

In [16]:
moives.iloc[0]

movieId                                              1
title                                 Toy Story (1995)
genres     Adventure|Animation|Children|Comedy|Fantasy
Name: 0, dtype: object

In [21]:
row_0 = tags.iloc[0]
row_0

userId                        18
movieId                     4141
tag                  Mark Waters
timestamp    2009-04-24 18:19:40
Name: 0, dtype: object

In [23]:
row_0.index

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [24]:
row_0['userId']

18

In [25]:
'moives' in row_0

False

In [26]:
row_0.name

0

In [27]:
row_0 = row_0.rename('firstRow')
row_0.name

'firstRow'

In [28]:
tags.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [29]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [30]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [32]:
tags.iloc[[1,11,500]]

     userId  movieId                tag            timestamp
1        65      208          dark hero  2013-05-10 01:41:18
11       65     1783      noir thriller  2013-05-10 01:39:43
500     342    55908  entirely dialogue  2012-01-31 18:41:16

In [33]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [35]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [36]:
ratings['rating'].mean()

3.5255285642993797

In [ ]:
m = ratings.mean()
m

In [37]:
ratings['rating'].min()

0.5

In [ ]:
ratings['rating'].max()

In [ ]:
ratings.max()